---
## <font color=#FF8181>Unit 5 - Exercises: </font>
<style>
  table {margin-left: 0 !important;}
</style>

__Consider the following DataFrame__:

### Monster table 1

|         |    Name       |    Strength    |    Speed    |    Type           |
|---------|---------------|----------------|-------------|-------------------|
|    0    |    Mike       |    1           |    3        |    Monster        |
|    1    |    Sully      |    99          |    65       |    Monster        |
|    2    |    Randall    |    35          |    99       |    EvilMonster    |
|    3    |    Boo        |    5           |    5        |    Human          |


- Run the code below to construct the dataframe
- you can use `test_df` to test your solutions

In [31]:
import pandas as pd
import numpy as np

data = {'Name': ['Mike', 'Saly', 'Randall', 'Boo'],
        'Strength': [1,99,35,5],
        'Speed':[3,65,99,5],
        'Type':['Monster', 'Monster', 'EvilMonster', 'Human']}
test_df = pd.DataFrame(data)

---
### <font color=#14F278> Task 1: Create a python function `stat_monster()` which does the following: </font>
- Takes dataframe __Monster Table 1__ as an argument
- Creates 3 new columns via the `.apply()` method in combination with __lambda__:
    - __AvgStat__ - the average of the strength and speed for each row
    - __MinStat__ - the minimum of the strength and speed for each row
    - __MaxStat__ - the maximum of the strength and speed for each row
- Returns the new DataFrame

In [35]:
# Write your solution here
import pandas as pd
import numpy as np

def stat_monster(df):
    df['AvgStat'] = df.apply(lambda row: (row['Strength']+row['Speed'])/2, axis=1)
    df['MinStat'] = df.apply(lambda row: min(row['Strength'],row['Speed']), axis=1)
    df['MaxStat'] = df.apply(lambda row: max(row['Strength'],row['Speed']), axis=1)
    return df

stat_monster(test_df)

,Name,Strength,Speed,Type,AvgStat,MinStat,MaxStat,BoostSpeed,BoostStrength
0,Mike,1,3,Monster,2.0,1,3,6,1
1,Saly,99,65,Monster,82.0,65,99,130,99
2,Randall,35,99,EvilMonster,67.0,35,99,99,105
3,Boo,5,5,Human,5.0,5,5,5,5

---
### <font color=#14F278> Task 2: Create a python function `boost_monster()` which does the following: </font>

- Takes a dataframe __Monster Table 1__ as an argument
- Creates 2 new columns via the `.apply()` method in combination with __lambda__:
    - __BoostSpeed__ - twice the speed if type 'Monster', else the same speed
    - __BoostStrength__ - 3 times the strength if type 'EvilMonster', else the same strength
- Returns the new DataFrame

In [33]:
# Write your solution here
def boost_monster(df):
    df['BoostSpeed'] = df.apply(lambda row: row['Speed']*2 if row['Type'] == 'Monster' else row['Speed'], axis = 1 )
    df['BoostStrength'] = df.apply(lambda row: row['Strength']*3 if row['Type'] == 'EvilMonster' else row['Strength'], axis = 1)
    return df

boost_monster(test_df)

,Name,Strength,Speed,Type,AvgStat,MinStat,MaxStat,BoostSpeed,BoostStrength
0,Mike,1,3,Monster,2.0,1,3,6,1
1,Saly,99,65,Monster,82.0,65,99,130,99
2,Randall,35,99,EvilMonster,67.0,35,99,99,105
3,Boo,5,5,Human,5.0,5,5,5,5

__NB__: *Solutions to these exercises are distributed separately in the form of a stand-alone unit at a later point in time. This is to ensure that consultants have had the chance to attempt the exercises autonomously, leveraging the reading materials and concept check solutions.*