---
## <font color=#FF8181>Unit 6 - Exercises: </font>
<style>
  table {margin-left: 0 !important;}
</style>

__Consider the following DataFrame__:

### Monster table 2

|          |    Name          |    Strength    |    Speed    |    Type           |    Color     |    MCODE     |
|----------|------------------|----------------|-------------|-------------------|--------------|--------------|
|    90    |    Fungus        |                |    3        |    Monster        |    Orange    |    223423    |
|    91    |    Celia         |    40          |             |    Monster        |    Purple    |    223422    |
|    92    |    Waternoose    |    51          |    35       |    EvilMonster    |    Gray      |    223234    |

- Run the code below to construct the dataframe
- you can use `test_df` to test your solutions

In [26]:
import pandas as pd
import numpy as np

data = {'Name': ['Fungus', 'Celia', 'Waternoose'],
        'Strength': [np.nan, 40,51],
        'Speed':[3, np.nan, 35],
        'Type':['Monster', 'Monster', 'EvilMonster'],
        'Color':['Orange', 'Purple', 'Gray'],
        'MCODE':[223423, 223422, 223234]}
test_df = pd.DataFrame(data, index = [90,91,92])

---
### <font color=#14F278> Task 1: Create a python function `interpolate_monster()` which does the following: </font>

- Takes dataframe __Monster Table 2__ as an argument:
- Fills in missing data via Interpolation
- Drops any rows which still contain missing data
- Returns the new DataFrame

In [18]:
# Write your solution here
display(test_df)
def interpolate_monster(df):
    df = df.interpolate()
    df = df.dropna()
    return df

interpolate_monster(test_df)

          Name  Strength  Speed         Type   Color   MCODE
90      Fungus       NaN    3.0      Monster  Orange  223423
91       Celia      40.0    NaN      Monster  Purple  223422
92  Waternoose      51.0   35.0  EvilMonster    Gray  223234

C:\Users\MaxBeck\AppData\Local\Temp\ipykernel_3304\3792404036.py:4: FutureWarning: DataFrame.interpolate with object dtype is deprecated and will raise in a future version. Call obj.infer_objects(copy=False) before interpolating instead.
  df = df.interpolate()

          Name  Strength  Speed         Type   Color   MCODE
91       Celia      40.0   19.0      Monster  Purple  223422
92  Waternoose      51.0   35.0  EvilMonster    Gray  223234

---
### <font color=#14F278> Task 2: Create a python function `impute_monster()` which does the following </font>

- Takes datafame __Monster Table 2__ as an argument:
- assigns the speed of Celia to the average speed across the rows
- assigns the strength of Fungus to the minimum strength across the rows
- Returns the new DataFrame

In [27]:
# Write your solution here
def impute_monster(df):
    df.loc[91, 'Speed'] = df['Speed'].mean()
    df.loc[90, 'Strength'] = df['Strength'].min()
    return df

impute_monster(test_df)

          Name  Strength  Speed         Type   Color   MCODE
90      Fungus      40.0    3.0      Monster  Orange  223423
91       Celia      40.0   19.0      Monster  Purple  223422
92  Waternoose      51.0   35.0  EvilMonster    Gray  223234

__NB__: *Solutions to these exercises are distributed separately in the form of a stand-alone unit at a later point in time. This is to ensure that consultants have had the chance to attempt the exercises autonomously, leveraging the reading materials and concept check solutions.*