In [ ]:
#Mock 1 pandas

7. Dataframe Creator (1)
---
Write a function that takes two arguments `data` and `col_names` and returns a 
dataframe. Assume the first argument `data` is a list of lists, and `col_names`
is a list of column names.


Required Signature:
```python
def dataframe_creator1(data: list, col_names: list):
    pass
```
Example usage:


```python
>>> dataframe_creator1(['[[1,2],[3,4]]', "col_names=['cookies', 'cream']"])
```

|         | cookies | cream |
| ---     | ---     | ----- |
| 0       |      1  |     2 |
| 1       |      3  |     4 |

In [3]:
def dataframe_creator1(data: list, col_names: list):
    import pandas as pd
    df = pd.DataFrame(data, columns = col_names)
    return df

In [4]:
dataframe_creator1([[1,2],[3,4]], ['cookies', 'cream'])

   cookies  cream
0        1      2
1        3      4

8. Dataframe Selector (2)
---
Write a function that accepts three arguments `input_df`, `col_names` and `row_indices`. 
Assume `df` is a dataframe, `col_names` is a list and `row_indices` is a list. 
The function is to return a dataframe with only the columns specified in 
`col_names` and rows with explicit index corresponding to `row_indices`.


Required Signature:
```python
def dataframe_selector2(df, row_indices, col_names):
    pass
```
Example usage:


If this is the input dataframe `input_df`:

|   | a |   b  |   c | 
| --- | --- | --- | --- | 
| 0 | 1 |  10 |  100 | 
| 1 |  2 |  20 |  200 | 
| 2 |  3  | 30 |  300 | 

Calling `dataframe_selector2(df, [0,2], ['a','c'])` will return the following dataframe:

|  |   a |    c | 
| --- | --- | --- | 
| 0 |  1 |  100 | 
| 2 |  3 |  300 |

In [12]:
def dataframe_selector2(df, row_indices, col_names):
    import pandas as pd
    df_new = df.loc[row_indices, col_names]
    return df_new

In [13]:
import pandas as pd
df = pd.DataFrame([[1,10,100],[2,20,200],[3,30,300]], columns = ['a', 'b','c'])
dataframe_selector2(df, [0,2], ['a','c'])

   a    c
0  1  100
2  3  300

9. Dataframe Combine (2)
---
Write a function that takes in two dataframes `input_df1` and `input_df2` and returns a new
dataframe which includes all their rows, sorted by their 'date' column.


Required Signature:
```python
def dataframe_combine2(input_df1, input_df2):
    pass
```
Example usage:


For example, if this is `df1`:

| |         date | volume |
|---|---|---|
|0 | 01/01/2020  |    10 |
|1 | 20/01/2020  |    20 |

And this is `df2`:

|   |      date | volume |
|---|---|---|
| 0 | 10/01/2020   |   30 |
|1  | 30/01/2020  |    40 |

Then this would be the expected output:

| |         date | volume |
|---|---|---|
| 0  | 01/01/2020  |    10 |
| 1  | 10/01/2020  |    30 |
| 2  | 20/01/2020  |    20 |
| 3  | 30/01/2020  |    40 |

In [33]:
def dataframe_combine2(input_df1, input_df2):
    import pandas as pd
    new_df = pd.concat([input_df1, input_df2], axis = 0)
    new_df.sort_values('date', ascending = True, inplace = True)
    new_df.reset_index(drop = True, inplace = True)
    return new_df

In [34]:
input_df2 = {'date': ['10/01/2020','30/01/2020'],
             'volume': [30, 40]}
input_df2 = pd.DataFrame(input_df2)

input_df1 = {'date': ['01/01/2020','20/01/2020'],
             'volume': [10, 20]}
input_df1 = pd.DataFrame(input_df1)


dataframe_combine2(input_df1, input_df2)

         date  volume
0  01/01/2020      10
1  10/01/2020      30
2  20/01/2020      20
3  30/01/2020      40

10. Dataframe Process Data (2)
---
Given an input dataframe in which each row holds students' marks for some questions, e.g.

|  | student | question   |    topic | mark |
| --- | --- | --- | --- | --- |
| 0    | Alice | multiply | arithmetic  |   6 |
| 1 |   Bob   | multiply  | arithmetic  |   3 |
| 2 |  Alice  |  divide | arithmetic  |   5 |
| 3 |    Bob  |  divide | arithmetic  |   4 |
| 4 |  Alice  |  angles |   geometry  |  10 |
| 5  |   Bob  |  angles |   geometry  |   5 |

Write a function to calculate the mean mark for each question, and return this in a dictionary.


Required Signature:
```python
def dataframe_process_data2(input_df):
    pass
```
Example(s):

```python
>>> dataframe_process_data2(pd.DataFrame({'student':['Alice', 'Bob', 'Alice', 'Bob', 'Alice', 'Bob'], 'question':['multiply', 'multiply', 'divide', 'divide', 'angles','angles'], 'topic':['arithmetic', 'arithmetic', 'arithmetic', 'arithmetic', 'geometry','geometry'], 'mark':[10,20,30,40,50,60]}))
```

```
{'angles': 55, 'divide': 35, 'multiply': 15}
```

In [73]:
def dataframe_process_data2(input_df):
    import pandas as pd
    product_df = input_df.groupby('question').agg({'mark':'mean'})
    print(product_df)
    return product_df['mark'].to_dict()

In [74]:
input_df = (pd.DataFrame({'student':['Alice', 'Bob', 'Alice', 'Bob', 'Alice', 'Bob'], 'question':['multiply', 'multiply', 'divide', 'divide', 'angles','angles'], 'topic':['arithmetic', 'arithmetic', 'arithmetic', 'arithmetic', 'geometry','geometry'], 'mark':[10,20,30,40,50,60]}))
display(input_df)

dataframe_process_data2(input_df)

  student  question       topic  mark
0   Alice  multiply  arithmetic    10
1     Bob  multiply  arithmetic    20
2   Alice    divide  arithmetic    30
3     Bob    divide  arithmetic    40
4   Alice    angles    geometry    50
5     Bob    angles    geometry    60

          mark
question
angles    55.0
divide    35.0
multiply  15.0

{'angles': 55.0, 'divide': 35.0, 'multiply': 15.0}

11. Get SpaceFlight Articles
---
Write a function that uses the articles endpoint of `https://api.spaceflightnewsapi.net/v3/articles` 
to return a list of the titles of recent news articles.

Your function should return the list of all titles (not just the first three) that are available
at the time of making the call to `https://api.spaceflightnewsapi.net/v3/articles`


Required Signature:
```python
def get_spaceflight_articles(url: str):
    pass
```
Example usage:


For example, when the function was called recently, 
the returned list contained ten spaceflight article titles of which the first three are shown below as an example:

`["Satellogic expanding U.S. footprint with eye on national security market",` 
`"SpaceX Starlink beta testers see big speed boosts, major outages", `
`"NASA's Perseverance Mars Rover Mission Honors Navajo Language", `
`...]`

In [93]:
def get_spaceflight_articles(url: str):
    import pandas as pd
    import requests
    r = requests.get(url)
    response = r.json()
    title_list = []
    for i in response:
        title = i['title']
        title_list.append(title)
    return title_list

In [94]:
get_spaceflight_articles("https://api.spaceflightnewsapi.net/v3/articles")

['Congress passes final fiscal year 2024 spending bill for NASA, NOAA and FAA',
 'BlackSky secures back-to-back U.S. Air Force contracts',
 'The Exploration Company’s Mission Possible Demo Flight Slips to 2025',
 'ISS schedule conflicts delay Starliner crewed test flight to May',
 'Space One scrubs Japan’s first commercial orbital launch',
 'China targets 2030 for Mars sample return mission, potential landing areas revealed',
 'Spacecraft maker Terran Orbital ‘looking at everything,’ CEO says after Lockheed Martin takeover bid',
 'Blue Origin aims to launch first lunar lander in 2025',
 'Irish Launch Facility Startup Eyes US Investors for Seed Funding',
 'The limits of space power']