1. Most Occurrences 1
---
Write a function that takes in a list of strings and a character n, the function returns the string with the most instances of n.

- If there are no occurrences of n return False. 
- If there are multiple strings with the same number of occurrences, return the first string that has the maximum amount.
- It should ignore case, i.e. if n = `r` both `r` and `R` should be counted 


Required Signature:
```python
def most_occurrences1(string_list: list, n:str):
    pass
```
Example(s):

```python
>>> most_occurrences1(['hello','hurry','hi','hat','harry'] ,'r')
```

```
hurry
```

In [87]:
def most_occurrences1(string_list: list, n:str):
    word_count = []
    for word in string_list:
        word = word.lower()
        count = 0 
        for char in word:
            if char == n:
                count = count + 1
            else:
                pass
        word_count.append(count)
    max_count = max(word_count)
    for i, j in zip(word_count, string_list):
        if max_count == 0:
            return False
        elif i == max_count:
            return j

In [91]:
most_occurrences1(['hello','hurry','hi','hat','harry'] ,'r')

'hurry'

2. List to Tuples 1
---
Write a function that takes two lists of equal length and returns a list of tuples where each tuple contains the corresponding elements from the two input lists. 
- If the input lists are not of equal length, the function should return False. Maintain the correct order of tuple pairs in the list.
- Inputted list may have a nested list within, in this instance take out those values and then return a list of tuples, please look at the example below. 


Required Signature:
```python
def list_to_tuples1(list1: list, list2: list):
    pass
```
Example(s):

```python
>>> list_to_tuples1(['a', 'b', 'c'],[1, 2, 3])
```

```
[('a', 1), ('b', 2), ('c', 3)]
```

```python
>>> list_to_tuples1(['a', 'b',['c','d'], 'e'],[1, 2, 3, 4, 5])
```

```
[('a', 1), ('b', 2), ('c', 3), ('d',4), ('e',5)]
```

In [69]:
def list_to_tuples1(list1: list, list2: list):
    list_1 = []
    list_2 = []
    output = []
    for i in list1:
        if type(i) == str:
            list_1.append(i)
        elif type(i) == list:
            for j in i:
                list_1.append(j)
    for i in list2:
        if type(i) == int:
            list_2.append(i)
        elif type(i) == list:
            for j in i:
                list_2.append(j)
    if len(list_1) == len(list_2):
        for i, j in zip(list_1, list_2):
            output_tup = (i, j)
            output.append(output_tup)
    else:
        return False
    return output

In [71]:
list_to_tuples1(['a', 'b', 'c'],[1, 2, 3])
list_to_tuples1(['a', 'b',['c','d'], 'e'],[1, 2, 3, 4, 5])

[('a', 1), ('b', 2), ('c', 3), ('d', 4), ('e', 5)]

3. Car String Formatting
---
Write a function that takes in a list of car strings in the format "Brand Model EngineSize" and returns a list of formatted car strings in the format "Model Brand, EngineSize".
If there are two of the same exact cars, only include the first instance found in the list. 

- The EngineSize is optional, if the string does not have an EngineSize it should return "Model Brand". 


Required Signature:
```python
def car_string_formatting(list_of_names: list):
    pass
```
Example(s):

```python
>>> car_string_formatting(['Toyota Corolla 1.8', 'Honda Civic', 'BMW M2 2.0'])
```

```
['Corolla Toyota, 1.8', 'Civic Honda', 'M2 BMW, 2.0']
```

In [62]:
def car_string_formatting(list_of_names: list):
    output = []
    for element in list_of_names:
        output_str = ''
        brand = element.split(' ')[0]
        model = element.split(' ')[1]
        output_str += model + ' ' + brand
        if len(element.split(' ')) == 3:
            engine = element.split(' ')[2]
            output_str += ', ' + engine
        output.append(output_str)
    return output

In [63]:
car_string_formatting(['Toyota Corolla 1.8', 'Honda Civic', 'BMW M2 2.0'])

['Corolla Toyota, 1.8', 'Civic Honda', 'M2 BMW, 2.0']

4. Name Processing (8)
---
Write a function that takes in a list of strings, where each string represents a person's full name in the format "last_name, first_name". The function should return a dictionary in which the keys are the last names, and the values are the corresponding first names. 

 - If a last name appears more than once in the input list, then the value in the dictionary should be the first corresponding first name that has that last name.
 - If a name includes a hyphen, replace the hyphen with a space.
 


Required Signature:
```python
def name_processing8(list_of_names: list):
    pass
```
Example(s):

```python
>>> name_processing8(['Smith, John', 'Doe, Jane', 'Smith, Sally', 'Doe, Bob', 'Jones, Jim'])
```

```
{'Smith': 'John', 'Doe': 'Jane', 'Jones': 'Jim'}
```

In [43]:
def name_processing8(list_of_names: list):
    output_dict = {}
    for element in list_of_names:
        surname = element.split(', ')[0]
        forename = element.split(', ')[1]
        if surname not in output_dict:
            output_dict[surname] = forename
        else:
            pass
    return output_dict

In [44]:
name_processing8(['Smith, John', 'Doe, Jane', 'Smith, Sally', 'Doe, Bob', 'Jones, Jim'])

{'Smith': 'John', 'Doe': 'Jane', 'Jones': 'Jim'}

5. 8 by 2 Numbers
---
Write a function that takes in a list `input_list` and returns a list of elements of all values that are divisible by both 8 and 2 (3 marks).

- Non-numeric (float or int) values should be ignored (1 mark)
- Strings that can be converted to numeric values should also be processed and returned in the list as an integer (1 mark)


Required Signature:
```python
def numbers8_2(input_list: list):
    pass
```
Example(s):

```python
>>> numbers8_2([1, 2, 3, 3, 16, 20])
```

```
[16]
```

```python
>>> numbers8_2([1, 2, 3, 3, '8', 16, 20])
```

```
[8, 16]
```

```python
>>> numbers8_2(['hello', {}, 3, 5.0, 7.5, 8.0, 24.0, 16])
```

```
[8.0, 24.0, 16]
```

In [10]:
def numbers8_2(input_list: list):
    output_list = []
    for element in input_list:
        if type(element) == float or type(element) == int:
            if element % 2 == 0 and element % 8 == 0:
                output_list.append(element)
        else:
            try:
                value = int(element)
                if value % 2 == 0 and value % 8 == 0:
                    output_list.append(value)
            except(ValueError, TypeError):
                pass
    return output_list

In [12]:
#numbers8_2([1, 2, 3, 3, 16, 20])
#numbers8_2([1, 2, 3, 3, '8', 16, 20])
numbers8_2(['hello', {}, 3, 5.0, 7.5, 8.0, 24.0, 16])

[8.0, 24.0, 16]

6. Prime Numbers 2
---
Write a function that takes in a list `input_list` and an integer `num`. If the list has at least the num amount of prime numbers or more it will return `True`, otherwise it will return `False`.
- The list may contain numeric and non numeric values, only process the numeric values, Boolean values should be ignored.


Required Signature:
```python
def prime_numbers2(input_list: list, num : int):
    pass
```
Example(s):

```python
>>> prime_numbers2(['hello',1,2,3,'bye'],1)
```

```
True
```

In [35]:
def prime_numbers2(input_list: list, num : int):
    prime_list = []
    for element in input_list:
        if type(element) == float or type(element) == int:
            if element >  1:
                for i in range(1, element):
                    if element % i != 0:
                        prime_list.append(element)
                    elif element == 2:
                        prime_list.append(element)
        else:
            pass
    numb_prime = len(prime_list)
    print(prime_list)
    print(numb_prime)
    if numb_prime >= num:
        return True
    else:
        return False

In [36]:
prime_numbers2(['hello',1,2,3,'bye'],2)

[2, 3]
2

True

7. ToDo List
---
Write a class `ToDoList` to represent a to-do list.

The `ToDoList` object is initialized with one argument, 
representing a list of strings containing actions that need to be completed. The class 
should also have two instance attributes, the list passed through as an argument, and the number of items in the list as the other.

Instance attributes:
- `todo_list` (list)
- `number_of_tasks` (int)
  - this should be correct at all times

The class shall also implement three methods:

Methods:
- `add_item`: Add an item to the todo list. The method should take a single string argument and add it to the todo list. 
- `remove_item`: Remove an item from the todo list. The method should take a single string argument and remove it from the todo list if it exists. If the item does not exist in the todo list, the method should raise an Exception. 
- `return_items`: Return a dictionary with the key being the item number and the value being the task in the list respectively.
  - e.g. given the todo_list consisting of `['wash car','run','eat']`, it should return `{1:'wash car',2: 'run',3: 'eat'}`


Required Signature:
```python
class ToDoList:
	pass
```
Example usage:


```python
list1 = ToDoList(['wash car','workout','fill out taxes']) #this initializes the ToDoList with the four items passed
list1.add_item('update car insurance') #this should add the task to the ToDoList
list1.return_items() #this should return a dictionary with the key being the index and the value being the task in the list respectively.
list1.remove_item('walk') #this should raise an exception 
list1.remove_item('wash car') #this should remove the item from the list
list1.number_of_tasks #this should return an up to date number of items in your list 
```

In [108]:
class ToDoList:
    def __init__(self, todo_list):
        self.todo_list = todo_list
        self.number_of_tasks = len(todo_list)

    def add_item(self, input):
        if input not in self.todo_list:
            self.todo_list.append(input)
            self.number_of_tasks = self.number_of_tasks + 1
        else:
            raise Exception("Item is already on the todo list")

    def remove_item(self, input):
        if input in self.todo_list:
            self.todo_list.remove(input)
            self.number_of_tasks = self.number_of_tasks - 1
        else:
            raise Exception("Item is not on the todo list")

    def return_items(self):
        output_dict = {}
        index = 1
        for i in self.todo_list:
            output_dict[index] = i
            index = index + 1
        return output_dict

In [115]:
#list1 = ToDoList(['wash car','workout','fill out taxes']) #this initializes the ToDoList with the four items passed
#list1.add_item('update car insurance') #this should add the task to the ToDoList
#list1.return_items() #this should return a dictionary with the key being the index and the value being the task in the list respectively.
#list1.remove_item('walk') #this should raise an exception 
#list1.remove_item('wash car') #this should remove the item from the list
list1.number_of_tasks #this should return an up to date number of items in your list 
# ```

3

2. List to Tuples 1
---
Write a function that takes two lists of equal length and returns a list of tuples where each tuple contains the corresponding elements from the two input lists. 
- If the input lists are not of equal length, the function should return False. Maintain the correct order of tuple pairs in the list.
- Inputted list may have a nested list within, in this instance take out those values and then return a list of tuples, please look at the example below. 


Required Signature:
```python
def list_to_tuples1(list1: list, list2: list):
    pass
```
Example(s):

```python
>>> list_to_tuples1(['a', 'b', 'c'],[1, 2, 3])
```

```
[('a', 1), ('b', 2), ('c', 3)]
```

```python
>>> list_to_tuples1(['a', 'b',['c','d'], 'e'],[1, 2, 3, 4, 5])
```

```
[('a', 1), ('b', 2), ('c', 3), ('d',4), ('e',5)]
```

8. Dataframe Combine (4)
---
Write a function that takes in two dataframes `input_df1` and `input_df2` with both dataframes having the same column names, and returns a new
dataframe removing any duplicate rows and ensuring the index increases in chronological order. 

- In the instance of duplicates, keep the first instance of the rows position, delete any later repeats.


Required Signature:
```python
def dataframe_combine4(input_df1, input_df2):
    pass
```
Example usage:


For example, if this is `df1`:

| |         name | age |
|---|---|---|
|0 | Tom         |    14 |
|1 | Dave        |    25 |
  ```Python
  # Create the DataFrame for df1
  df1 = pd.DataFrame([['Tom', 14],['Dave', 25]],
                    columns = ['name', 'age'])
  ```

And this is `df2`:

| |         name | age |
|---|---|---|
|4 | Tom         |    14 |
|3 | Sara        |    35 |
  ```Python
  # Create the DataFrame for df2
  df2 = pd.DataFrame([['Tom', 14],['Sara', 35]],
                    columns = ['name', 'age'],
                    index = [4, 3])
  ```

Then calling `dataframe_combine4(df1, df2)` will return the following DataFrame:

| |         name | age |
|---|---|---|
|0 | Tom         |    14 |
|1 | Dave        |    25 |
|2 | Sara        |    35 |

  ```Python
  # Create the expected outcome DataFrame
  expected_outcome = pd.DataFrame([['Tom', 14], ['Dave', 25], ['Sara', 35]], 
                                columns = ['name', 'age'], 
                                index = [0, 1, 2])
  ```

In [17]:
def dataframe_combine4(input_df1, input_df2):
    import pandas as pd
    new_df = pd.concat([input_df1, input_df2])
    new_df = new_df.drop_duplicates()
    new_df.reset_index(drop = True, inplace = True)
    return new_df

In [18]:
import pandas as pd
df1 = pd.DataFrame([['Tom', 14],['Dave', 25]],
                    columns = ['name', 'age'])
df2 = pd.DataFrame([['Tom', 14],['Sara', 35]],
                    columns = ['name', 'age'],
                    index = [4, 3])
dataframe_combine4(df1, df2)

   name  age
0   Tom   14
1  Dave   25
2  Sara   35

9. Dataframe Process Data (4)
---
Given an input dataframe in which each row holds a product name, region and sales column, e.g.

|     | Product | Region   |    Sales |
| --- | ---     | ---      | ---      | 
| 0   | Apple   | North    | 6        |
| 1   | Apple   | South    | 3        |
| 2   | Apple   | North    | 2        |
| 3   | Apple   | South    | 1        |
| 4   | Banana  | North    | 5        |
| 5   | Banana  | South    | 4        |
| 6   | Banana  | North    | 15       |
| 7   | Banana  | South    | 45       |

Write a function to calculate the minimum sales for each product-region combination and return a dictionary containing the region-product as the key and the minimum value as the key.


Required Signature:
```python
def dataframe_process_data4(input_df):
    pass
```
Example(s):

```python
>>> dataframe_process_data4(pd.DataFrame({'Product':['Apple','Apple','Apple','Apple','Banana','Banana','Banana','Banana'], 'Region':['North', 'South', 'North', 'South','North', 'South','North', 'South'], 'Sales':[6,3,2,1,5,4,15,45]}))
```

```
{'Apple-North': 2, 'Apple-South': 1, 'Banana-North': 5, 'Banana-South': 4}
```

In [35]:
def dataframe_process_data4(input_df):
    import pandas as pd
    input_df['Product-Region'] = input_df['Product'] + '-' + input_df['Region']
    product_df = input_df.groupby('Product-Region')['Sales'].agg('min')
    return product_df.to_dict()

In [36]:
import pandas as pd
df = pd.DataFrame({'Product':['Apple','Apple','Apple','Apple','Banana','Banana','Banana','Banana'], 'Region':['North', 'South', 'North', 'South','North', 'South','North', 'South'], 'Sales':[6,3,2,1,5,4,15,45]})
df
dataframe_process_data4(df)

{'Apple-North': 2, 'Apple-South': 1, 'Banana-North': 5, 'Banana-South': 4}

10. Dataframe Selector (4)
---
Write a Python function that takes three input arguments: data (a Dictionary of Lists), column_name (a string), and n (an integer). 
The function should return a new DataFrame using data input that contains the first n rows of the data, sorted in ascending order by column_name.


Required Signature:
```python
def dataframe_selector4(data: dict, column_name:str, n:int):
    pass
```
Example usage:


- argument: 
  ```python
  [{'col1':['1','2','3','4'],'col2':['val4','val3','val2','val1']}, 'col2',2]
  ```

  return_value: 
    |         | col1    | col2   |
    | ---     | ---     | ------ |
    | 0       |      4  |   val1 |
    | 1       |      3  |   val2 |

In [64]:
def dataframe_selector4(data: dict, column_name:str, n:int):
    import pandas as pd
    df = pd.DataFrame(data)
    df.sort_values(column_name, ascending = True, inplace = True)
    df_new = df.iloc[:n]
    df_new.reset_index(drop = True, inplace = True)
    return df_new

In [65]:

dataframe_selector4({'col1':['1','2','3','4'],'col2':['val4','val3','val2','val1']}, 'col2',2)

  col1  col2
0    4  val1
1    3  val2

11. Get Public APIs
---
Write a Python function that uses the "https://api.publicapis.org/entries" API to retrieve a list of all available APIs that are categorized as "Science & Math". 


Required Signature:
```python
def get_public_apis(url: str):
    pass
```
Example usage:


For example, when the function was called recently, 
the returned list contained these apis:

"  ['arcsecond.io', 'arXiv', 'CORE', 'GBIF', 'iDigBio', 'inspirehep.net', 'isEven (humor)', 'ISRO', 'ITIS', 'Launch Library 2', 'Materials Platform for Data Science', 'Minor Planet Center', 'NASA', 'NASA ADS', 'Newton', 'Noctua', 'Numbers', 'Numbers', 'Ocean Facts', 'Open Notify', 'Open Science Framework', 'Purple Air', 'Remote Calc', 'SHARE', 'SpaceX', 'SpaceX', 'Sunrise and Sunset', 'Times Adder', 'TLE', 'USGS Earthquake Hazards 
Program', 'USGS Water Services', 'World Bank', 'xMath']"

In [1]:
def get_public_apis(url: str):
    import pandas as pd
    import requests
    r = requests.get(url)
    response = r.json()
    api_info = response['entries']
    API_list = []
    for i in api_info:
        if i['Category'] == 'Science & Math':
            API_list.append(i['API'])
    return API_list

In [2]:
get_public_apis("https://api.publicapis.org/entries")

['arcsecond.io',
 'arXiv',
 'CORE',
 'GBIF',
 'iDigBio',
 'inspirehep.net',
 'isEven (humor)',
 'ISRO',
 'ITIS',
 'Launch Library 2',
 'Materials Platform for Data Science',
 'Minor Planet Center',
 'NASA',
 'NASA ADS',
 'Newton',
 'Noctua',
 'Numbers',
 'Numbers',
 'Ocean Facts',
 'Open Notify',
 'Open Science Framework',
 'Purple Air',
 'Remote Calc',
 'SHARE',
 'SpaceX',
 'SpaceX',
 'Sunrise and Sunset',
 'Times Adder',
 'TLE',
 'USGS Earthquake Hazards Program',
 'USGS Water Services',
 'World Bank',
 'xMath']