---
# 7. Data Type Initialisations and Conversions
---
Here, we will look at initialising new and empty objects and conversion between the common data types (tuples, sets, lists, dictionaries)
| <u>**Metric**<u> | <u>Count<u> |
| --- | --- |
| **Cells** | 48 |
| **Characters** | 2508 |
| **Concept Checks** | 0 |
| **Completion Time** | 6 min |

In [1]:
def print_id_type_value(var):
    '''
    Function to print the id, type and value for a given object 'var'
    '''
    print(f'id   : {id(var)}')
    print(f'type : {type(var)}')
    print(f'value: {var}')

## 7.1 Creating objects

### 7.1.1 Create an empty list

In [2]:
my_list = [] # First way to create an empty list
print_id_type_value(my_list)

In [3]:
my_list = list() # second way to create an empty list
print_id_type_value(my_list)

### 7.1.2 Create an empty tuple

In [4]:
my_tuple = () # First way to create an empty tuple
print_id_type_value(my_tuple)

In [5]:
my_tuple = tuple() # second way to create an empty tuple
print_id_type_value(my_tuple)

### 7.1.3 Create an empty dictionary

In [6]:
my_dict = {} # first way to create a new dictionary
print_id_type_value(my_dict)

In [7]:
my_dict = dict() # second way to create a new dictionary
print_id_type_value(my_dict)

### 7.1.4 Create an empty set

In [10]:
my_set = set() # note {} doesn't work here
print_id_type_value(my_set)

### 7.1.5 Create an empty string

In [11]:
my_str = '' # first way to create an empty string (also works with "")
print_id_type_value(my_str)

In [12]:
my_str = str() # second way to create an empty string
print_id_type_value(my_str)

## 7.2 Converting between data types

### 7.2.1 Converting between a list, tuple and set

In [13]:
my_tuple = (1,2,3)

In [14]:
my_list = list(my_tuple) # list from a tuple
print(my_list)

In [15]:
my_set = set(my_tuple) # set from a tuple
print(my_set)

In [16]:
my_tuple_2 = tuple(my_set) # tuple from a set
print(my_tuple)

### 7.2.2 Creating a dictionary from a list of tuples

In [20]:
my_dict = dict([(1,'A'),(2,'B'),(3,'C')])
print(my_dict)

In [1]:
my_list = [(1,'A'),(2,'B'),(3,'C')]
my_dict = {}
for i in my_list:
    my_dict[i[1]] = i[0]

In [2]:
my_dict

### 7.2.3 Converting between integer, string and float

In [21]:
a = 123
print_id_type_value(a)

In [22]:
b = str(a)
print_id_type_value(b)

In [23]:
c = '15'
print_id_type_value(c)

In [24]:
d = int(c)
print_id_type_value(d)

In [25]:
10 + 20

In [26]:
'10' + '20'

In [27]:
int('10') + int('20')

In [28]:
str(10) + str(20) # '10' + '20'

In [29]:
int('Hello') # this won't work

### 7.2.4 Converting between an int and a float

In [30]:
a = 50
print_id_type_value(a)

In [31]:
b = float(a)
print_id_type_value(b)

### 7.2.5 Converting from float to int loses precision as the digits after the decimal point are dropped

In [32]:
c = 12.34
print_id_type_value(c)

In [33]:
d = int(c)
print_id_type_value(d)

In [34]:
c1 = 12.975
print_id_type_value(c1)

In [35]:
d1 = int(c1)
print_id_type_value(d1)

### 7.2.6 Converting between float and string

In [36]:
str(12.965)

In [37]:
float('12.965')