---
# 6. Sequence Types
---

Sequences can be indexed using non-negative numbers.
Examples include strings, lists and tuples.
All sequences support slicing and iteration.

In this section, we shall cover:
- Concatenation (using `+`)
- Copying (using `*`)
- Slicing (using `[::]`)
- Membership (using `in`)
- Aggregation functions and methods (max, min, mean, count)
- Further methods of the String sequence type

In [1]:
colours = ['blue','red','yellow','orange']
tagline = 'Shaping tomorrow today'
address = (85, 'Queen Victoria Street','London')

## 6.1 Concatenation

Two or more sequences can be joined together using the `+` operator.

In [4]:
more_colours = ['gold','silver']
all_colours = colours + more_colours
print(all_colours)

['blue', 'red', 'yellow', 'orange', 'gold', 'silver']

In [5]:
print(colours)
print(more_colours)

['blue', 'red', 'yellow', 'orange']
['gold', 'silver']

In [6]:
company = 'Kubrick: '
sentence = company +tagline
print(sentence)

Kubrick: Shaping tomorrow today

**Note**: The use of `+` for performing different operations (addition when used with numbers and concatenation when used with sequences) is called operator overloading. Python automatically recognises the type of the objects used in combination with the `+` operator and performs the required operation.

Question: What happens when you try to combine an integer and a list with `+`?

In [10]:
(1, 2, 3) + [4, 5, 6]

TypeError: can only concatenate tuple (not "list") to tuple

## 6.2 Copying

A sequence `s` can be copied `N` times by forming the expression `s*N`, i.e. using the `*` operator.

In [12]:
print(colours)
colours * 4

['blue', 'red', 'yellow', 'orange']

['blue',
 'red',
 'yellow',
 'orange',
 'blue',
 'red',
 'yellow',
 'orange',
 'blue',
 'red',
 'yellow',
 'orange',
 'blue',
 'red',
 'yellow',
 'orange']

In [16]:
my_symbol = 'Hello!\n'
print(my_symbol*10)

Hello!
Hello!
Hello!
Hello!
Hello!
Hello!
Hello!
Hello!
Hello!
Hello!

**Note**: Again, the `*` operator is overloaded. When used with sequences, it performs copying. When used with numbers, it performs multiplication.

### 6.2.1 Concept Check -- Sequence Copying

Use sequence copying to create a grid of zeros, represented as a list of lists. Let the number of rows be `num_rows` and the number of columns be `num_cols`. Example output for `num_rows = 2` and `num_cols = 3` is `[[0,0,0],[0,0,0]]`

In [20]:
num_cols = 3
print([[0]*num_cols])
[[0]*num_cols]*2

[[0, 0, 0]]

[[0, 0, 0], [0, 0, 0]]

In [23]:
num_cols = 3
num_rows = 2
[[0]*num_cols]*num_rows

[[0, 0, 0], [0, 0, 0]]

## 6.3 Indexing

If the sequence has `n` elements, then each element can be accessed by putting an integer index value (of between 0 and `n-1`) in square brackets after its variable name. 

![indexing](./indexing.png)

In [26]:
my_str = 'HelloWorld'
#         0123456789
my_str[9]

'd'

In [27]:
my_str[-1]

'd'

In [29]:
file_name = 'sequences.blank.ipynb'

In [31]:
print(file_name[0])
print(file_name[2])
print(file_name[-6])

s
q
.

In [33]:
vowels = ['a','e','i','o','u']
vowels[0] = 'A'
print(vowels)

['A', 'e', 'i', 'o', 'u']

### 6.3.1 Concept Check: Indexing

The variable `x` is assigned to a list of 10 strings. Assign values to these strings so that the list starts with '1', '2', '3' and ends with '3', '2', '1':
```
['1', '2', '3', '-', '-', '-', '-', '3', '2', '1']
```

In [38]:
x = ['-']*10
x[0] = 1
x[1] = 2
x[2] = 3
x[-3] = 3
x[-2] = 2
x[-1] = 1


print(x)

[1, 2, 3, '-', '-', '-', '-', 3, 2, 1]

## 6.4 Slicing

Most simply, the square brackets hold integers from 0 up to (but not including) the length of the sequence.

However, more complex indexing operations are also possible: these are known as *slices*. Here are some of the slicing rules:

Slicing is done using `[start:stop:step]`. Note that the value at `start` index is always included in the slice but the value at the `stop` index is not included. `step` allows us to slice every n-th element (assuming `step` is n)

`start`, `stop` and `step` are all optional.

- Negative numbers count from the back, so `[-1]` indexes the last element in the sequence.
- Two numbers, separated by a colon, define a subsequence from the original sequence. The first number is inclusive and the second number is exclusive, and 0 is the start of the sequence (as usual). So `[2:4]` indexes the third and fourth elements in the sequence.
- If a single colon is present but the first number is missing, then the sub-sequence starts at the beginning of the original sequence. So, `[:3]` indexes the first, second and third elements of the sequence. 
- If a single colon is present but the second number is missing, then the sub-sequence ends at the end of the original sequence. So, `[-2:]` indexes the penultimate and last elements of the original sequence. 
- If a second colon is present, then the number after this colon specifies the 'step' (or 'stride') of the slice. So, a slice `[10:20:2]` will include elements 10, 12, 14, 16 and 18, incrementing in steps of 2, and excluding the final index. 

![slicing](./slicing.png)

In [44]:
my_str = 'HelloWorld'
my_str[0:5:1] #0 - 5 in steps of 1

'Hello'

In [42]:
my_str[5:]

' World'

In [45]:
my_str[0::2]

'Hlool'

In [46]:
my_str[3:7]

'loWo'

In [47]:
my_str[::-1]

'dlroWolleH'

All the above apply to lists and tuples as well

In [48]:
my_list = [1, 2, 3, 4, 5, 6, 7]
my_list[1::2]

[2, 4, 6]

In [50]:
my_tuple = ('red', 'green', 'yellow','gold','blue')
my_tuple[1:2:2]

('green',)

### 6.4.1 Concept Check: Slicing Operations

- Create a list containing three your favourite activities. Store in `my_activities`.
- Create another list containing three favourite activities for a friend. Store in `friend_activities`.
- Concatenate the two lists together and store into a new list `combined_list`.
- Copy the list three times and store into a new variable `combined_list_x3`. Is the id of `combined_list` and `combined_list_x3` the same? Why / why not?
- Use slicing on `combined_list` to select the activities enjoyed by your friend.
- Use a slice with a negative step size to reverse the order of `combined_list`.

In [70]:
my_activites = ['push day','pull day','rest day']
friend_activities = ["spotting max's bench", "mixing max's protein shake",\
                     "counting max's reps"]
combined_list = my_activites + friend_activities
combined_list_x3 = combined_list * 3
print(id(combined_list))
print(id(combined_list_x3))
print(combined_list)
combined_list[-3::]
combined_list[::-1]

2024835662016
2024835677504
['push day', 'pull day', 'rest day', "spotting max's bench", "mixing max's protein shake", "counting max's reps"]

["counting max's reps",
 "mixing max's protein shake",
 "spotting max's bench",
 'rest day',
 'pull day',
 'push day']

## 6.5 Iteration

Use the `for` statement to iterate over the elements in a list (or indeed the elements in any container):

In [2]:
my_list = ['Alice', 'Bob', 'Charlie']

for name in my_list:
    print(name)

Alice
Bob
Charlie

In [5]:
my_tuple = ('green','blue','yellow')

for colour in my_tuple:
    print(colour)

green
blue
yellow

In [6]:
cohort = 'DE35'

for char in cohort:
    print(f'The current char is {char}')

The current char is D
The current char is E
The current char is 3
The current char is 5

## 6.6 The `in` membership operator

- The expression `item in sequence` will return `True` if `item` is contained in `sequence`, and otherwise `False`. 
- This membership operator can also be applied to the mapping types (see next section).

In [8]:
my_list = [1, 2, 3, 4]
3 in my_list 
6 in my_list

False

In [9]:
my_str = 'DE35'
'DE' in my_str

True

In [10]:
'DE35' in my_str

True

### 6.6.1 Concept Check -- Using the Membership Operator

If `example_list = ['Alice', 'Bob', 'Charlie', 123]` and `example_string = 'abcdefghijklmnopqrstuvwxyz'`, which of the following evaluate as `True`? What differences can you observe between string and list sequences?

- `'a' in example_string` 
- `'Alice' in example_list`
- `'abc' in example_string`
- `['Alice', 'Bob'] in example_list`
- `['Alice'] in example_list`
- `'Ali' in example_list`
- `'ABC' in example_string`
- `123.0 in example_list`
- `'123' in example_list`

In [24]:
example_list = ['Alice', 'Bob','Charlie',123]
example_string = 'abcdefghijklmnopqrstuvwxyz'

'a' in example_string
'Alice' in example_list
'abc' in example_string
['Alice', 'Bob'] in example_list
['Alice'] in example_list
'Ali' in example_list
'ABC' in example_string
123.0 in example_list
'123' in example_list

# 1. True
# 2. True
# 3. True
# 4. False
# 5. False
# 6. False
# 7. False
# 8. True
# 9. False

True

## 6.7 Aggregations

An aggregator operates on a collection of data, reducing the output to a smaller set of values (often just one value). 


Some examples of aggregation functions:
- Built-in functions: `len`, `sum`, `max` and `min`. The execution depends on the type of data (for example, sum is not supported for strings)
- Methods, e.g. `str.count()`
- Functions from other modules and packages. For example, `numpy` is a 'numerical python' library that provides functions for calulating the mean and median values (among many other functions!)
  - In order to use `numpy`, we first have to install it from command prompt using the command `py -m pip install numpy`

In [27]:
my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print(len(my_list))
print(sum(my_list))
print(min(my_list))
print(max(my_list))

10
55
1
10

In [28]:
my_str = 'hello world'
my_str.count('o')

2

In [30]:
import numpy as np
print(np.mean(my_list))

5.5

### 6.7.1 Concept Check: Aggregations

If `marks` is a list of integer marks, find the mean, median, mode and standard deviation of this data

Hint: There is a `statistics` module in the Python standard library (https://docs.python.org/3/library/statistics.html) that you can use to calculate these values. 

Alternatively, you can use another library such as `numpy`, `scipy` or `pandas` to do these. (You may have to install these packages first)

In [34]:
import statistics as st 
print(st.mean(my_list))
print(st.stdev(my_list))
print(st.mode(my_list))
print(st.median(my_list))

5.5
3.0276503540974917
1
5.5

## 6.8 Further String Methods

There are several string methods available in Python that allow us to perform operations on string objects. Some of these are given below:

More string methods can be found at https://www.w3schools.com/python/python_ref_string.asp

- `lower`: returns a lower-case version of the original string
- `upper`: returns an upper-case version of the original string
- `title`: returns a title-case version of the original string
- `replace`: replaces all occurences of one string with another string
- `find`: finds a substring within a string and returns the index of the first character in the substring
- `count`: counts the number of times a substring appears in the string
- `strip`: returns a string with any surrounding 'white space' stripped away  
- `split`: splits a string into a list of substrings
- `join`: joins together a list of substrings

In [36]:
my_str = 'The quick brown fox jumped over the lazy dog'
print(my_str)

The quick brown fox jumped over the lazy dog

### 6.8.1 `lower`, `upper` and `title` methods

In [40]:
print(my_str.lower())
print(my_str.upper())
print(my_str.title())

the quick brown fox jumped over the lazy dog
THE QUICK BROWN FOX JUMPED OVER THE LAZY DOG
The Quick Brown Fox Jumped Over The Lazy Dog

### 6.8.2 `find` and `replace` methods

In [41]:
my_str.find('o')

12

In [42]:
my_str.find('fox')

16

In [43]:
my_str.find('cat')

-1

In [44]:
my_str.replace('dog','wolf')

'The quick brown fox jumped over the lazy wolf'

### 6.8.3 `count` method

In [45]:
print(my_str.count('fox'))

1

In [46]:
print(type(my_str))

<class 'str'>

In [48]:
my_str.lower().count('the')

2

In [49]:
my_str.count('the') #only one cos its case sensitive

1

### 6.8.4 `strip` method

In [52]:
my_str = '   \tHello DE35\n\n\n\n\n\n\n\n\n\n\n'
print(my_str)

   	Hello DE35

In [53]:
print(my_str.strip()) #removes "unnecessary" things

Hello DE35

### 6.8.5 `split` and `join` Methods

- `split` will return a list of substrings, splitting the original string by space (by default)
- `join` takes a list of strings as an argument, and uses the subject string as the joining string.

In [54]:
my_str = 'The quick brown fox jumped over the lazy dog'
print(my_str)

The quick brown fox jumped over the lazy dog

In [55]:
my_str.split(' ')

['The', 'quick', 'brown', 'fox', 'jumped', 'over', 'the', 'lazy', 'dog']

In [56]:
my_str.split(' fox ')

['The quick brown', 'jumped over the lazy dog']

In [58]:
words = my_str.split()

In [62]:
'.'.join(words)

'The.quick.brown.fox.jumped.over.the.lazy.dog'

In [63]:
' '.join(words)

'The quick brown fox jumped over the lazy dog'

### 6.8.6 Concept Check: Split, Sort and Join

Write code to re-arrange the words in a (lower-case) sentence into alphabetical order.

```
my_string = "the quick brown fox jumped over the lazy dog"

becomes...

'brown dog fox jumped lazy over quick the the'
```

In [76]:
my_string = "the quick brown fox jumped over the lazy dog"
split_string = my_string.split()
print(split_string)
split_string.sort()
print(split_string)
' '.join(split_string)

['the', 'quick', 'brown', 'fox', 'jumped', 'over', 'the', 'lazy', 'dog']
['brown', 'dog', 'fox', 'jumped', 'lazy', 'over', 'quick', 'the', 'the']

'brown dog fox jumped lazy over quick the the'